/* Chuyen doi lap trinh cho mobile truoc */

/* Tablet */
@media only screen and (max-width: 992px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__hamburger {
        display: flex;
    }

    .nav-bar {
        display: none;
        width: 100%;
    }

    .nav-bar.active {
        display: flex;
    }

    .nav__list {
        width: 100%;
        flex-direction: column;
    }

    .nav__item {
        text-align: center;
    }

    .nav__link {
        padding: .5rem 1rem;
    }
}

/* Mobile */
/* Without button navbar */
@media only screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-expand {
        display: block;
        width: 100%;
        color: white;
        background-color: #006666;
        padding: 5px;
        border-bottom: 1px solid #fff;
        text-align: center;
    }

    .menu__block {
        display: none;
    }

    .menu__block.active {
        display: flex;
        width: 100%;
        flex-direction: column;        
    }

    .menu__list {
        margin: 0;
    }

    .menu__item {
        text-align: center;
    }

    .menu__link {
        padding: .5rem 1rem;
    }

    /* About page */
    .row {
        width: 100%;
        flex-direction: column;
    }

    .column {
        margin: 5px 0;
    }
}